.icon_pollution img {
	height: 90px;
}
.airpollution{
	background-color: rgb(240, 239, 241);
	box-shadow:1px 1px 3px rgba(153, 153, 153, 0.445);
	border-radius: 0.5em;
	text-align: center;
	text-align: center;
	font-weight: bolder;
	margin-top: 2em;

}