.formulaire {
    margin-right: 3em;
    height: 30em;
}
.container-fluid {
    background-color: #FDFBFB;
    color: white;
}

.nom{
    margin-left: 1.2em;
	margin-right: 2em;
}


@media (max-width: 768px) {
    .nom {
        text-align:center;
    }
}


.prenom{
	margin-left: 1.2em;
    margin-right: 2em;
}
@media (max-width: 768px) {
    .prenom {
        text-align: center;
    }
}

.bouton{
	margin-left: 2em;

}
.test {
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.8em;
    text-align: center;
    padding-top: 0.3em;
}
