.icon_temperature img {
	height: 100px;
}
.temperature{
	background-color: rgb(215, 201, 248);

	box-shadow:1px 1px 3px rgba(153, 153, 153, 0.445);
	border-radius: 0.5em;
	text-align: center;
	text-align: center;
	font:1em Arial;
	font-weight: bolder;
	color: whitesmoke;

}