.App {
  text-align: center;
}



.date{
	background-color: white;
	font-size: 1.3em;
	width: 10em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
	text-align: center;
}
.heure{
	background-color: white;
	font-size: 1.3em;
	width: 10em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
	text-align: center;
}

.barre{
	background-color: white;
	font-size: 1.3em;
	width: 70%;
	height: 70%;
	padding-left: 105px;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
	text-align: center;
}
.drapeau{
	background-color: white;
	width: 30%;
	height: 30%;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
	margin-left: 100px;
	
}